@{
    ViewData["Title"] = "aboutus";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ABOUTUS</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
<link rel="icon" type="images/x-icon" href="images/design.png">
</head>
<body>
<div class="aboutushtml">
	<div class="aboutlogo">
		<img class="aboutlogoimg" src="images\spring.jpg">
		<center><h3>Making ornaments is like making your own magic</h3></center>			
		<span class="placeholder col-12 bg-info"></span>
	</div>

<br><br>
<h1>ABOUTUS</h1>
 
<div class="aboutdescp">
<p>
Jewelry is any piece of adornment that a person wears such as rings, earrings, bracelets, necklaces, or watches.
It can also be worn for decorative purposes as in the case of brooches.
People wear jewelry for many reasons.
</p>
</div>
<br><br>
<div class="ant img">
	<img src="images/brand.jfif" style="width: 100%;">
</div>
<br><br>
<h1>Email US </h1>
<P>jemimahcad01@gmail.com</P> 
<span class="placeholder col-12 bg-info"></span>

</body>
</html>