@{
    ViewData["Title"] = "login";
}
<form action="VerifyLogin" method="Post">
<center>
<div class="shadow p-3 mb-5 bg-body-tertiary rounded logpg"><b>Login</b>
<br><br>
<div class="col-lg-5 col-xl-5 logcontent">
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">

@* <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text"></div>
</div> *@

<div class="mb-3">
    <label for="exampleInputusername"class="form-label">username</label>
    <input type="text" name="username" class="form-control" id="exampleInputusername">
</div>

<div class="mb-3">
    <label for="exampleInputPassword1"class="form-label">Password</label>
    <input type="text" name="password" class="form-control" id="exampleInputPassword1">
</div>
  
<div class="mb-3 form-check">
    <label class="form-check-label" for="exampleCheck1">Remember me</label>
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
</div>
<center><button type="submit" class="btn btn-primary">Submit</button></center>

</div>
</div>
</center>
</div>
</form>
