<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>OUR SERVICE</title>
	<span class="placeholder col-12 bg-info"></span>
	<link rel="stylesheet" type="text/css" href="styles.css">
<link rel="icon" type="image/x-icon" href="images/ornaments.png">
</head>
<body>
	
	<div class="ourservicehtml">
		<div class="servicelogo">
			<center><img src="images/icon.jpeg"></center>
			<div class="servheading">
			<center><h1>Our service</h1></center>
		</div>
	</div>
 </div>
<hr>

<br>

<h2>Services provided</h2>
    <p>
	<li>cash on delivery<br>
	<li>payment through online<br>
	<li>free shipping available<br>
	<li>direct payment<br>
</li>
</li>

	


</body>
</html>


