@{
    ViewData["Title"] = "register";
}
<br><br>
<form>
<center>

<div class="shadow p-3 mb-5 bg-body-tertiary rounded"><b>Register</b>
<br><br>

<div class="col-lg-5 col-xl-5">
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">

<div class="mb-3">
    <label for="exampleInputname" class="form-label">Name</label>
    <input type="name"  name="" class="form-control" id="exampleInputname" aria-describedby="nameHelp">
    <div id="emailHelp" class="form-text"></div>
</div>

<div class="mb-3">
    <label for="exampleInputphonenymber"class="form-label">Phone number</label>
    <input type="phonenumber" name="Phonenumber" class="form-control" id="exampleInputPhonenumber">
  </div>
  
<div class="mb-3">
    <label for="exampleInputemail"class="form-label"> Email id</label>
    <input type="email" name="email_id" class="form-control" id="exampleInputemail">
  </div>
  
<div class="mb-3">
    <label for="exampleInputemail"class="form-label">Password</label>
    <input type="password" name="Password" class="form-control" id="exampleInputemail">
  </div>
  
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Remember me</label>
  </div>
  <center><button type="submit" class="btn btn-primary">Submit</button></center>
</form>
</div>
</div>

</center>
</div>
</div>