@{
    ViewData["Title"] = "index";
}

<!DOCTYPE html>
<html>
<head>
	<title>Online ornaments shop</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
    <link rel ="icon" type="image/x-icon" href="images/design.png">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

</head>
<body>
	<div class="header">
<div class="Homeheading">
	<div class="shadow p-3 bg-info mb-5 bg-body-tertiary rounded">
	<center><b><h1>Online Ornaments Shop</h1></b></center>
	</div>
</div>
<div class="firstprofile">
	<img src="https://i.postimg.cc/0NGgQHDp/profile.png" width="30px">
</div>
</div>
<div class="Homeheadingdescrp">
<center><p>To look elegant and which icing on you</p></center>
</div> 
<hr>

<center>
		<div class="search">
		   <input type="text" placeholder="search">
		   <button type="submit" class="searchButton">
		   </button>
		</div>
</center>

<div class="midimages">
	<img src="~/images/moni.jpg" width="1000px" height="200px">

</div>
</script>
</body>
</html>

